---
layout: splash
permalink: /
title: "SAVING LIVES ONE CODE AT A TIME"
date: 2018-08-01T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/banner-codeathon2018-1600x640.jpg
  cta_label: "Get started"
  cta_url: "/community/"
 
excerpt: "CBS Software as a Service is built to scale with microservices, cloud first, and mobile first approach"
intro: 
  - excerpt: Test The Red Cross open source community based surveillance system allows for people to report on health risks in their communities. By monitoring real-time data, we can respond to an outbreak before it spins out of control, thereby saving lives.The system is developed by volunteers. We currently have an operational MVP in Somalia, but we need your help to save even more lives! Read how you can contribute here and get in touch!' 
feature_row:
  - image_path: assets/images/cbs_blog_pic_1.png
    alt: "Collect"
    title: "Welcome to the Red Cross CBS Blog!"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "https://medium.com/redcrosscbs/welcome-to-the-red-cross-community-based-surveillance-blog-c8b450e83fef"
    btn_label: "Read More"
    btn_class: "btn--info"
  - image_path: /assets/images/cbs_blog_pic_2.JPEG
    alt: "Real-time Analysis"
    title: "Real-time Analysis"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/community/"
    btn_label: "Read More"
    btn_class: "btn--info"
   
  - image_path: /assets/images/cbs_blog_pic_3.jpeg
    title: "Real-time Distribution"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/community/"
    btn_label: "Read More"
    btn_class: "btn--info"   
   
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "How we do it"
    title: "How we do it"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with' 
    url: "/community/"
    btn_label: "<i class='fas fa-users'></i> Join the community"
    btn_class: "btn--info"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="right" %}